<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  
    <title>Dashboard</title>
  </head>
  
  <body class="container bg-light">
    <div class="text-center pt-5">
      <img src="../assets/images/dash.png" width="300" height="170" />
      <h2>Dashboard</h2>
      <p>
        Fuel Distribution App to handle the traffics of distribution....
      </p>
    </div>
  
    <!-- <div class="card">
      <div class="card-body"> -->
        <div class="row">   
            
            <div class="col-lg-3 col-6"></div>

            <div class="col-lg-2 col-6 single-tile">
              <a href="/place_order" style="text-decoration:none; color: black;">
                <div class="card" style="border-radius:20px;">
                    <div class="card-body pb-50 text-center">                                   
                        <!-- <div class="avatar avatar-xl">
                            <img src="" alt="">
                        </div> -->
                        <h3 class="fw-bolder mt-1">New Order</h3>
                        <h6 style="font-size:12px;">Place Your Order</h6>
                    </div>
                </div></a>
            </div>

            <div class="col-lg-2 col-6 single-tile">
              <a href="/view_orders" style="text-decoration:none; color: black;">
                <div class="card" style="border-radius:20px;">
                    <div class="card-body pb-50 text-center">                                   
                        <!-- <div class="avatar avatar-xl">
                            <img src="" alt="">
                        </div> -->
                        <h3 class="fw-bolder mt-1">View Orders</h3>
                        <h6 style="font-size:12px;">View Your Orders</h6>
                    </div>
                </div></a>
            </div>

            <div class="col-lg-2 col-6 single-tile">
              <a href="/check_status" style="text-decoration:none; color: black;">
                <div class="card" style="border-radius:20px;">
                    <div class="card-body pb-50 text-center">                                   
                        <!-- <div class="avatar avatar-xl">
                            <img src="" alt="">
                        </div> -->
                        <h3 class="fw-bolder mt-1">Check Status</h3>
                        <h6 style="font-size:12px;">Check Order Status</h6>
                    </div>
                </div></a>
            </div>

            <div class="col-lg-3 col-6"></div>

      </div>
    <!-- </div>
    </div> -->
    <br><br><br><br><br>
    <footer>
      <div class="my-4 text-muted text-center">
        <p>©Fuel Distribution App 2022</p>
      </div>
    </footer>
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
  </body>
